# Numpy
### Numeric Python

In [1]:
import numpy as np

In [3]:
height =[1.73, 1.68, 1.71, 1.89]   #create a list
height

[1.73, 1.68, 1.71, 1.89]

In [4]:
weight = [65.4, 59.2, 63.6, 68.7] #create a list
weight

[65.4, 59.2, 63.6, 68.7]

In [8]:
# You can't multiply lists, so you need Numpy to multiply arrays

In [5]:
np_height = np.array(height)  #create a numpy array
np_height

array([1.73, 1.68, 1.71, 1.89])

In [6]:
np_weight = np.array(weight)
np_weight

array([65.4, 59.2, 63.6, 68.7])

In [7]:
bmi = np_weight / np_height ** 2
bmi

array([21.85171573, 20.97505669, 21.75028214, 19.23238431])

In [9]:
# to find out the second value in our bmi array
bmi[1]

20.97505668934241

In [10]:
# to find all values that are above 21
bmi[bmi > 21]

array([21.85171573, 21.75028214])

# 2d Numpy Arrays
#### a list of lists

In [2]:
np_2d = np.array([[1, 3, 5, 7], [5,7,9,0]])
np_2d

array([[1, 3, 5, 7],
       [5, 7, 9, 0]])

In [3]:
np_2d.shape

(2, 4)

In [4]:
# 2 rows with 4 columns

In [5]:
#to select one value, do row - and remember 0 , then column
np_2d[0,2]

5

In [6]:
#to select both rows and 2 columns - and remember the last value is not included
np_2d[:, 1:3]

array([[3, 5],
       [7, 9]])